<?xml version="1.0" encoding="utf-8" ?>
<!--http://192.168.5.16:8080/EDIN/hs/EDO/Log-->
<configuration>
	<configSections>
		<section name="Produser1C7"  type="System.Configuration.NameValueSectionHandler" />
		<section name="Produser1C8"  type="System.Configuration.NameValueSectionHandler" />
		<section name="Consumer1C7"  type="System.Configuration.NameValueSectionHandler" />
		<section name="Consumer1C8"  type="System.Configuration.NameValueSectionHandler" />
		<section name="StructureObjects"  type="System.Configuration.NameValueSectionHandler" />
		<section name="ValidObjects"  type="System.Configuration.NameValueSectionHandler" />
		<section name="TypeTransaction"  type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<!--Список отправителей 1С 7.7-->
	<Produser1C7>
	</Produser1C7>
	<!--Список отправителей 1С 8-->
	<Produser1C8>
    <add key="http://192.168.205.112/1c8BD/Log" value="http://192.168.205.112/1c8BD/Log"/>
	</Produser1C8>
	<!--Список получателей 1С 7-->
	<Consumer1C7>
		<add key="D:\\Bases\\RED_OKTOBER\\" value="D:\\Bases\\RED_OKTOBER\\"/>
	</Consumer1C7>
	<!--Список получателей 1С 8-->
	<Consumer1C8>
	</Consumer1C8>
	<!--Общие переменные программы-->
	<appSettings>
    <add key="http://192.168.205.112/1c8BD/Log" value=""/>
    <add key="УНП" value="300003144" />
	</appSettings>
	<!--Параметры десерелизации в определённый объект-->
	<StructureObjects>
		<add key="D:\\Bases\\RED_OKTOBER\\" value="BUH"/>
		<add key="http://192.168.205.112/1c8BD/Log" value="BUH"/>
	</StructureObjects>
	<!--Фильтр. Вид объектов для отбора-->
	<ValidObjects>
		<add key="http://192.168.205.112/1c8BD/Log" value="Документ.ВозвратТоваровОтПокупателя"/>
	</ValidObjects>
	<!--Фильтр. Тип транзакций для отбора-->
	<TypeTransaction>
		<add key="http://192.168.205.112/1c8BD/Log" value="_$Data$_.Update"/>
	</TypeTransaction>
</configuration>

