<?xml version="1.0" encoding="utf-8" ?>
<!--http://192.168.5.16:8080/EDIN/hs/EDO/Log-->
<!--http://192.168.205.112/1c8testBD/hs/EDO/Log-->
<!--192.168.205.112/Get/hs/test/Test-->
<!--http://192.168.205.112/1c8testBD/hs/EDO/Log-->
<configuration>
	<configSections>
		<section name="Produser1C7"    type="System.Configuration.NameValueSectionHandler" />
		<section name="Produser1C8"    type="System.Configuration.NameValueSectionHandler" />
		<section name="Consumer1C7"    type="System.Configuration.NameValueSectionHandler" />
		<section name="Consumer1C8"    type="System.Configuration.NameValueSectionHandler" />
		<section name="StructureObjects"  type="System.Configuration.NameValueSectionHandler" />
		<section name="ValidObjects"   type="System.Configuration.NameValueSectionHandler" />
		<section name="TypeTransaction"  type="System.Configuration.NameValueSectionHandler" />
	</configSections>
  
  <!--Информация о кафке-->
  <KafkaSoket>
    <add key="192.168.205.106:9092" value=""/> 
  </KafkaSoket>

  <KafkaProduserTopics>
    <add key="Документ_КлиентыТестДокумент" value="New_Topic"/>
    <add key="Справочник_КлиентыТестСправочник" value="New_Topic1"/>
  </KafkaProduserTopics>

  <KafkaConsumerTopics>
    <add key="Тестовое событие" value="New_Topic;New_Topic1"/>
    <add key="http://192.168.205.190/AlekseiEDO/hs/EDO/" value="New_Topic;New_Topic1"/>
    <add key="http://192.168.205.112/IformBase2/hs/EDO/" value="New_Topic"/>
  </KafkaConsumerTopics>

  <!--Информация о sql-->
  <Sql>
    <add key="New_Topic" value=".\SQLEXPRESS;testDB;Документ"/>
    <add key="New_Topic1" value=".\SQLEXPRESS;testDB;Справочник"/>
  </Sql>
  
	<!--Список отправителей 1С 7.7-->
	<Produser1C7>
	</Produser1C7>
  
	<!--Список отправителей 1С 8-->
	<Produser1C8>
    <add key="http://192.168.205.112/1c8testBD/hs/EDO/Log" value="http://192.168.205.112/1c8testBD/hs/EDO/Log"/>
	</Produser1C8>
  
	<!--Список получателей 1С 7-->
	<Consumer1C7>
	</Consumer1C7>
  
	<!--Список получателей 1С 8-->
	<Consumer1C8>
    <add key="http://192.168.205.190/AlekseiEDO/hs/EDO/" value="http://192.168.205.190/AlekseiEDO/hs/EDO/"/>
    <add key="http://192.168.205.112/IformBase2/hs/EDO/" value="http://192.168.205.112/IformBase2/hs/EDO/"/>
	</Consumer1C8>
  
  
	<!--Общие переменные программы-->
	<appSettings>
  <add key="http://192.168.205.112/1c8testBD/hs/EDO/Log" value="15.03.2023 14:30:07 (121317)" />
  <add key="УНП" value="300003144" />
 </appSettings>
  
	<!--Параметры десерелизации в определённый объект-->
	<StructureObjects>
		<add key="D:\\Bases\\RED_OKTOBER\\" value="BUH"/>
    <add key="http://192.168.205.112/1c8testBD/hs/EDO/Log" value="BUH"/>
	</StructureObjects>
  
	<!--Фильтр. Вид объектов для отбора-->
	<ValidObjects>
    <add key="http://192.168.205.112/1c8testBD/hs/EDO/Log" value="Справочник.КлиентыТестСправочник;Документ.КлиентыТестДокумент"/> <!--Документ.КлиентыТестДокумент-->
	</ValidObjects>
  
	<!--Фильтр. Тип транзакций для отбора-->
	<TypeTransaction>
    <add key="http://192.168.205.112/1c8testBD/hs/EDO/Log" value="_$Data$_.New"/>
	</TypeTransaction>
</configuration>

