<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Produser1C7"  type="System.Configuration.NameValueSectionHandler" />
		<section name="Produser1C8"  type="System.Configuration.NameValueSectionHandler" />
		<section name="Consumer1C7"  type="System.Configuration.NameValueSectionHandler" />
		<section name="Consumer1C8"  type="System.Configuration.NameValueSectionHandler" />
		<section name="StructureObjects"  type="System.Configuration.NameValueSectionHandler" />
		<section name="ValidObjects"  type="System.Configuration.NameValueSectionHandler" />
		<section name="TypeTransaction"  type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<Produser1C7>

	</Produser1C7>
	<Produser1C8>
		<add key="http://192.168.5.16:8080/EDIN/hs/EDO/Log" value="http://192.168.5.16:8080/EDIN/hs/EDO/Log"/>
	</Produser1C8>
	<Consumer1C7>
		<add key="D:\\Project\\1C_7.7_Марко\\" value="D:\\Project\\1C_7.7_Марко\\"/>
	</Consumer1C7>
	<Consumer1C8>
		
	</Consumer1C8>
	<appSettings>
  <add key="http://192.168.5.16:8080/EDIN/hs/EDO/Log" value="28.06.2022 10:23:34 (5606766)" />
  <add key="УНП" value="300003144" />
 </appSettings>
	<StructureObjects>
		<add key="D:\\Project\\1C_7.7_Марко\\" value="BUH"/>
		<add key="http://192.168.5.16:8080/EDIN/hs/EDO/Log" value="BUH"/>
	</StructureObjects>
	<ValidObjects>
		<add key="http://192.168.5.16:8080/EDIN/hs/EDO/Log" value="Документ.РеализацияТоваровУслуг;Документ.ВозвратТоваровОтПокупателя"/>
	</ValidObjects>
	<TypeTransaction>
		<add key="http://192.168.5.16:8080/EDIN/hs/EDO/Log" value="_$Data$_.Update"/>
	</TypeTransaction>
</configuration>
